.parrafo{
    width: 908px; 
    height: 220px; 
    left: 407px; top: 79px;
    position: absolute; color:
    black; font-size: 18.04px;
    text-align: justify;
    font-weight: 400; 
}

